# =========================
# C++ のビルド生成物
# =========================
# CMake等で作成するビルド用フォルダ
build/

# コンパイルされた中間ファイルや実行ファイル
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib

# =========================
# Python のキャッシュファイル
# =========================
__pycache__/
*.pyc

# =========================
# OSのシステムファイル
# =========================
# Mac用
.DS_Store
# Windows用
Thumbs.db